@model NewsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid no-space topnav " id="myTopnav">
    @Html.Partial("_Navigation", this.Global.NavigationItems)
    @Html.Partial("_Header")
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <main class="main-content">
                <div class="row">
                    <div class="col-lg-8 col-sm-12" id="newsCards">
                        @Html.Partial("_NewsCards", Model.NewsCards)
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <!--Aside-->
                        @Html.Partial("_Aside")
                        <!--Aside-->
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>