


.news {
    .newscard {
        box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2), 0 0 1rem rgba(0,0,0,0.2);
        background-color: none;
        background-clip: border-box;
        border: none;
        border-radius: none;

        .card-body {
            background-color: #353131;
            padding: 0;
            padding: 1vh;

            .card-title {
                color: white;
            }

            .card-text {
                color: rgba(255, 255, 255, 0.562);
            }

            a {
                background-color: transparent;
                color: white;
                text-transform: capitalize;
                text-decoration: none;
                border: 2px solid #8BC53F;
            }
        }
    }
}


.textcard {
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2), 0 0 1rem rgba(0,0,0,0.2);
    background-color: none;
    background-clip: border-box;
    border: none;
    border-radius: none;

    .card-body {
        background-color: #353131;
        padding: 0;
        padding: 1vh;

        .card-title {
            color: white;
        }

        .card-text {
            color: rgba(255, 255, 255, 0.562);
        }

        a {
            background-color: transparent;
            color: white;
            text-transform: capitalize;
            text-decoration: none;
            border: 2px solid #8BC53F;
        }
    }
}

.card-item {
    padding: 1rem;
}

.card_plain {
    background-color: 494848;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    .card_image img {
        height: 300px;
        width: 100%;
        max-width: 100%;
        vertical-align: middle;
        border-bottom: 6px solid #8bc53f;
    }

    .card_content {
        padding: 1rem;
        background: linear-gradient(to bottom left,#353131 40%,#464141 100%);


        .card_title {
            color: white;
            font-size: 1.1rem;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: capitalize;
            margin: 0px;
        }

        .card_text {
            color: #808080;
            font-size: 0.875rem;
            line-height: 1.5;
            margin-bottom: 1.25rem;
            font-weight: 600;
        }

        .card_btn {
            color: #808080;
            padding: 0.8rem;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 4px;
            font-weight: 400;
            display: block;
            width: 100%;
            cursor: pointer;
            border: 1px solid rgba(141, 139, 139, 0.39);
            background: transparent;
        }

        .card_btn:hover {
            background-color: rgba(49, 53, 53, 0.12);
            color: #fff;
        }
    }
}
.card-blog {
    margin-top: 30px;
    border: none;
    background: none;

    .card-image {
        margin: 0;
        border-radius: 6px;
        height: auto;
        position: relative;
        z-index: 1;

        .img {
            width: 100%;
            max-width: 100%;
            height: auto;
            max-height: 100%;
            border-radius: 6px;
            pointer-events: none;
            box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        }

        .colored-shadow {
            transform: scale(0.94);
            top: 12px;
            filter: blur(12px);
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            z-index: -1;
            transition: opacity 0.45s;
            color: #8bc53f
        }
    }

    .card-title {
        a {
            color: #8bc53f;
            text-decoration: none;
            font-size: 22px;
        }
    }

    .card-description {
        color: #999999;
        font-size: 14px;
        margin-bottom: 0;
    }

    .btn-green {
        justify-content: left;
        margin-left: 0;
        padding-left: 0;
    }
}

