.contactContainer {
    z-index: 4;
    padding-top: 12vh;
    width:100%;

    .contactCard {
        position: relative;
        background: rgba(0, 0, 0, 0.288);
        width: 100%;
        height: auto;
        border-radius: 6px;
        padding: 2rem;
        color: #aaa;
        box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.5), 0 0 1rem rgba(0,0,0,0.2);
        overflow: hidden;
        margin: 0px;

        @media only screen and (max-width: 790px){
            margin:0px;
        }

        textarea {
            height: 20vh;
        }
    }
}

@media (min-width: 768px) {
    .offset-md-1 {
    margin-left: 0px;
}}

@media (min-width: 768px) {
    .col-md-8 {
    max-width: 80%;
    margin: auto;
}}