.aside-blocks{
    background-color:#2A2727;

    .aside__block{
        &-title{
            background-color:black;
            border-top:2px solid #8BC53F;
            padding:5px;
            h3{
                color:#8BC53F;
                text-align: center;
            }
        }
        &-content{
            ul{
                list-style: none;
                li{
                    list-style: none;
                    margin:15px 0;
                    a{
                        color:white;
                    }
                }
            }
        }
        &-footer{
            background-color:#8BC53F;
            min-height:100px;
        }
    }
}