body{
    background-color: rgb(0, 0, 0) ;
    margin: 0;

}

header{
    padding: 0 !important;
    .navbar{
        position: absolute;
        top: 0px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        .fa{
            color: white;
        
        }
    }
}


.navbar-collapse 
{ background:rgb(0, 0, 0);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    
    a{
        text-align: center;
        font-size: 2vh;
        margin-top: 4vh;
    }
}

.navbar{
    width: 100%; 
        padding: 0;
        margin: 0;
    .container { 
        width: 100%; 
        padding: 0;
        margin: 0;
    }
}

.navbar-brand {
    margin: 4vh;
    .container-sm{
        margin: 4vh;
    background-color: red;
    a{
        margin: 2vh 2vh;
    }}}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .navbar-collapse 
{ background:transparent;
    margin-left: none;
    margin-right: none;
    
    a{
        text-align:right;
        font-size: 3vh;
        margin-top: 0;
        margin-right: 2vh;
        color: rgba(255, 255, 255, 0.459);
        width: 100%;
    }
    
}


header{
    padding: 0 !important;
    .navbar{
        position: absolute;
        top: 0px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        background-color: rgba(0, 0, 0, 0.767);
        .fa{
            color: white;
        
        }
        
    }
    
}

   
 }
