
<h2>Header partial View</h2>

<h1>
    @this.Global.Header.Title
</h1>
<h2>
    @this.Global.Header.SubHeading
</h2>

@if (this.Global.Header.Video != null)
{
    <pre>
        @this.Global.Header.Video.Name
    </pre>
}