

.btn-landing{
    background-color:#8bc53f54;
    color:white;
    text-transform: capitalize;
    text-decoration: none;
    font-size:5.3vw;
    border:2px solid #8BC53F;
    transition: 0.5s;
    border-radius: 5px;
    margin: 0 15px;
    img{
        width: 13vw;
        height: 13vw;
        margin: 0;
        padding: 0;
        }
    .fa-sliders-h{
        width: 13vw;
        height: 15vw;
        margin: auto;
        padding-top: 5vw;
    
    .fa{
        font-weight: 1000;
    }
    
    }
    &:hover{
        background-color: #8BC53F;
        color:white;
     }
}

.lgCaption

.btn-readmore{
    background:none;
    border:none;
    color:white;
    font-size:1.2rem;
}
.btn-list{
    margin-top:40px;
    
    button,a{
        float:left;
        
    }
}





/* If screen size is more than 600px wide, set the font-size of <div> to 80px */
@media screen and (min-width: 750px) {
    .btn-landing{
        min-width: 20vw;
        line-height: 3.5vw;
        padding: 3vw 3vw 4vw 3vw;
        font-size: 3.5vw;
        max-width: 300px;
        max-height: 40px;
        line-height: 1vw;
        &:hover{
            background-color: #8BC53F;
            color:white;
         }
    }
  }
  
 /* If screen size is more than 600px wide, set the font-size of <div> to 80px */
@media screen and (min-width: 1000px) {
    .btn-landing{
        font-size: 3vw;
        max-width: 20px;
        max-height: 40px;
       
    }
  }

  @media screen and (min-width: 1200px) {
    .btn-landing{
        font-size: 3vw;
        max-width: 15px;
        max-height: 30px;
       
    }
  }