  .navbar{
    background-color: black;
    .collapse{
        
        .navbar-nav{
            margin-left: auto;
            font-size: 3vh;
            right: 0;
            
            
        }
    }
} 