/// <reference path="./styles/Helpers/_mixins" />
/// <reference path="./styles/Helpers/_vars" />

body{
    background-color:black;
}

.main-content{
    background-color:#353131;
    padding:40px;
}

