<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad5e7e5e-43e1-4cc9-b77e-fbf4138c3e7f" Alias="article" Level="2">
  <Info>
    <Name>Article</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="54b68f21-a322-4a64-9bfc-8731882c8044">content</Composition>
      <Composition Key="7fd44963-dad2-4b32-abf5-a8a3ca16fc4e">header</Composition>
      <Composition Key="b90177a1-f295-4047-9383-b7f34ed9066c">navigation</Composition>
      <Composition Key="c8916525-c20c-41ff-a4ef-7c1a7743d09e">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d5063618-7c72-4304-b0c5-b240469df5e7">Article</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>