<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf69bb64-9bb5-4607-82b9-8c780242802e" Alias="contact" Level="2">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-old-phone color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7fd44963-dad2-4b32-abf5-a8a3ca16fc4e">header</Composition>
      <Composition Key="b90177a1-f295-4047-9383-b7f34ed9066c">navigation</Composition>
      <Composition Key="c8916525-c20c-41ff-a4ef-7c1a7743d09e">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="27077546-ec1a-46b9-826a-07230cb66d10">Contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b2952735-8169-49dc-851e-b4f28e381497</Key>
      <Name>Email Template</Name>
      <Alias>emailTemplate</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Format the email you want to receive with the information from the contact form. Insert these tags where you want the information displayed. ##name## ##email## ##country## ##message##]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0384f31d-d4e5-4d0f-94a2-8622b706b32f</Key>
      <Name>Receiver Email</Name>
      <Alias>receiverEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[Which email should the contact form send to?]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>6</SortOrder>
    </Tab>
  </Tabs>
</ContentType>