<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54b68f21-a322-4a64-9bfc-8731882c8044" Alias="content" Level="2">
  <Info>
    <Name>Content</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>627a8b4d-92e9-4477-a450-bb0225ef6a69</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>03950a4c-76b3-42b8-8726-c4515c92ffa3</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>