<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="38643877-e54d-4f86-a168-27925c09f910" Alias="frontpage" Level="2">
  <Info>
    <Name>Frontpage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7fd44963-dad2-4b32-abf5-a8a3ca16fc4e">header</Composition>
      <Composition Key="b90177a1-f295-4047-9383-b7f34ed9066c">navigation</Composition>
      <Composition Key="c8916525-c20c-41ff-a4ef-7c1a7743d09e">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Frontpage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0d4584f2-52c3-49ad-96f5-c82bde552b28">Frontpage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cf69bb64-9bb5-4607-82b9-8c780242802e" SortOrder="0">contact</ContentType>
    <ContentType Key="a78f210e-05fb-42df-a9d5-5b1c4b4b1539" SortOrder="1">textPage</ContentType>
    <ContentType Key="a25c9717-7f79-4bc2-b488-5fe2fadccec5" SortOrder="2">news</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7d76c03e-3eb1-4457-ad91-25199c1de555</Key>
      <Name>Gallery</Name>
      <Alias>gallery</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Aside</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e72e3f7c-66ec-424d-b896-dd7729794027</Key>
      <Name>Sound files</Name>
      <Alias>soundFiles</Alias>
      <Definition>7eeee328-1105-4254-b8a8-7da848784553</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Aside</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Aside</Caption>
      <SortOrder>6</SortOrder>
    </Tab>
  </Tabs>
</ContentType>