<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7fd44963-dad2-4b32-abf5-a8a3ca16fc4e" Alias="header" Level="2">
  <Info>
    <Name>Header</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7da51f98-cfaf-497c-b435-6a66de3868a1</Key>
      <Name>Sub Heading</Name>
      <Alias>subHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Header</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a8f9e492-ec3e-455a-ab35-486b6c297180</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Header</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7306894b-4fbc-45aa-bc96-50fab51f6a62</Key>
      <Name>Video</Name>
      <Alias>video</Alias>
      <Definition>d08afbaa-a6f9-4db8-90e8-9c3924d8e9cb</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a video for the header.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Header</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Header</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>