<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8d78ab0c-37eb-4e66-a70c-73bb1e2450d2" Alias="iconText" Level="2">
  <Info>
    <Name>Icon &amp; Text</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Nested+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>47ca1f5a-05e3-4941-b815-eb9e2b848203</Key>
      <Name>Type</Name>
      <Alias>type</Alias>
      <Definition>18b7e0f8-783b-4946-abb1-91fd7164f592</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Icon &amp; Text</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>892e4ddb-e757-42e4-ac65-4412a7bcd3ec</Key>
      <Name>Value</Name>
      <Alias>value</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Icon &amp; Text</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Icon &amp; Text</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>