<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="50aea0b5-91c3-4018-9587-d36ea9613f92" Alias="landingPage" Level="1">
  <Info>
    <Name>Landing Page</Name>
    <Icon>icon-road color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="7fd44963-dad2-4b32-abf5-a8a3ca16fc4e">header</Composition>
      <Composition Key="b90177a1-f295-4047-9383-b7f34ed9066c">navigation</Composition>
      <Composition Key="c8916525-c20c-41ff-a4ef-7c1a7743d09e">sEO</Composition>
    </Compositions>
    <DefaultTemplate>LandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f885f0e1-5809-41aa-b6e3-b47c4b76193a">LandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="38643877-e54d-4f86-a168-27925c09f910" SortOrder="0">frontpage</ContentType>
    <ContentType Key="a27a1db0-eab5-4a87-930a-a730b1536e04" SortOrder="1">notFound</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5e064da4-584b-4092-a825-93ae6a131ad5</Key>
      <Name>About Me</Name>
      <Alias>aboutMe</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A short introduction to who you are.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>de097886-2354-4875-b3b4-4f9e6e5de4fc</Key>
      <Name>Contact Info</Name>
      <Alias>contactInfo</Alias>
      <Definition>982751c7-6a34-4820-83fd-b760d5010c11</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>03ce769a-c77b-425a-8821-06da6183ef9d</Key>
      <Name>Footer Links</Name>
      <Alias>footerLinks</Alias>
      <Definition>02ed4921-9f60-45be-b705-6fa837130737</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Titel med liste af links]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b95ff86e-fd16-493f-afe8-dac5d60129de</Key>
      <Name>Social Media Icons</Name>
      <Alias>socialMediaIcons</Alias>
      <Definition>e49596c3-8450-43c1-acd0-2516d02d7b4d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>