<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b90177a1-f295-4047-9383-b7f34ed9066c" Alias="navigation" Level="2">
  <Info>
    <Name>Navigation</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fcde5561-9cc3-462f-be3b-6f79c4bbf21d</Key>
      <Name>Hide from menu</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide page from the menu]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>