<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a27a1db0-eab5-4a87-930a-a730b1536e04" Alias="notFound" Level="1">
  <Info>
    <Name>NotFound</Name>
    <Icon>icon-alert color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="7fd44963-dad2-4b32-abf5-a8a3ca16fc4e">header</Composition>
      <Composition Key="b90177a1-f295-4047-9383-b7f34ed9066c">navigation</Composition>
      <Composition Key="c8916525-c20c-41ff-a4ef-7c1a7743d09e">sEO</Composition>
    </Compositions>
    <DefaultTemplate>NotFound</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="60fea8db-35f2-41a8-9ff7-745a64cf07a4">NotFound</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>