<?xml version="1.0" encoding="utf-8"?>
<DataType Key="982751c7-6a34-4820-83fd-b760d5010c11" Alias="Contact Info - Nested Content" Level="1">
  <Info>
    <Name>Contact Info - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iconText",
      "ncTabAlias": "Icon & Text",
      "nameTemplate": "{{value}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>