<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02ed4921-9f60-45be-b705-6fa837130737" Alias="Footer Content - Nested Content" Level="1">
  <Info>
    <Name>Footer Content - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "footerContent",
      "ncTabAlias": "Footer Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>