<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18b7e0f8-783b-4946-abb1-91fd7164f592" Alias="Icon  Text - Type - Dropdown" Level="1">
  <Info>
    <Name>Icon  Text - Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "<i class=\"fas fa-phone\"></i>"
    },
    {
      "id": 2,
      "value": "<i class=\"fas fa-at\"></i>"
    },
    {
      "id": 3,
      "value": "<i class=\"fas fa-home mr-2\"></i>"
    }
  ]
}]]></Config>
</DataType>