<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ee89fd7-e0c4-480d-b990-37ff4a0744c5" Alias="Image Picker - Single - No folder" Level="1">
  <Info>
    <Name>Image Picker - Single - No folder</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>