<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c576198b-f687-4545-b8e5-b82eac7dbaba" Alias="Multi Url Picker 1-10" Level="1">
  <Info>
    <Name>Multi Url Picker 1-10</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 1,
  "MaxNumber": 10,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>