<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e49596c3-8450-43c1-acd0-2516d02d7b4d" Alias="Social Media Icons - Nested Content" Level="1">
  <Info>
    <Name>Social Media Icons - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iconLink",
      "ncTabAlias": "Icon & Link",
      "nameTemplate": "{{icon}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>