<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bfa6919d-cdd4-4689-87fa-9d57ad2f9f00" Alias="Social Icons - Dropdown" Level="1">
  <Info>
    <Name>Social Icons - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "<i class=\"fas fa-envelope\"></i>"
    },
    {
      "id": 2,
      "value": "<i class=\"fab fa-facebook\"></i>"
    },
    {
      "id": 3,
      "value": "<i class=\"fab fa-linkedin-in\"></i>"
    }
  ]
}]]></Config>
</DataType>