<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7eeee328-1105-4254-b8a8-7da848784553" Alias="Sound files - Media Picker" Level="1">
  <Info>
    <Name>Sound files - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "OnlyImages": false,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>