<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37c237b2-0ca9-4ad0-bb33-1e161bd29ff4" Alias="Url Picker - Limit 1" Level="1">
  <Info>
    <Name>Url Picker - Limit 1</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 1,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>